<app-header></app-header>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row pt-3">
            <div class="signup-card">
                <mat-card class="mt20 mb20" style="padding:10px;"> 
                    <div class="container text-center" style="margin-bottom: 20px;">
                        <img src="../../assets/forgotpassword.jpg" alt="" style="width:40%;">
                    </div>  
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input [(ngModel)]="userData.username" name="username" matInput placeholder="Enter your user name" minlength="4" maxlength="10" #username = "ngModel" required>
                            <mat-error *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                                <span *ngIf="username.errors?.['required']">Username is required.</span>
                                <span *ngIf="username.errors?.['minlength']">Username must be at least 4 characters long</span>
                            </mat-error>
                        </mat-form-field>
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Security Question</mat-label>
                        <input [(ngModel)]="userData.question" name="question" type="text" matInput placeholder="What's your Pet name ??" required>
                      </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Registered Email</mat-label>
                        <input [(ngModel)]="userData.email" name="email" type="email" matInput placeholder="Enter your registered email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <span *ngIf="email.errors?.['required']">Email is required.</span>
                            <span *ngIf="email.errors?.['pattern']">Invalid email format.</span>
                          </mat-error>  
                    </mat-form-field>
                   <mat-form-field class="full-width" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input [(ngModel)]="userData.newPassword" name="newPassword" type="password" matInput placeholder="Enter here" #password="ngModel" minlength="5" required>
                        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <span *ngIf="password.errors?.['required']">Password is required</span>
                            <span *ngIf="password.errors?.['minlength']">Password must be at least 5 characters long</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Confirm New Password</mat-label>
                        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" matInput placeholder="Enter here" required>
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Submit</button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div> 
