<app-header></app-header>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-6 offset-md-3">
                <mat-card style="padding:10px">
                    <mat-card-content class="text-center" style="margin-bottom:20px;"><h4>Add Movie !!</h4></mat-card-content>
                    <form *ngIf="movie" (ngSubmit)="addMovie()">
                        <input [value] ="movie.movieId" name="movieId" type="hidden" placeholder="Enter here" required>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Movie Name</mat-label>
                            <input [(ngModel)]="movie.movieName" name="movieName" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <mat-form-field  class="full-width" appearance="outline">
                            <mat-label>Theatre Name</mat-label>
                            <select  [(ngModel)]="movie.theatreName" name="theatreName" matNativeControl required>
                              <option value="PVR Sangam">PVR Sangam</option>
                              <option value="Cinepolis">Cinepolis</option>
                              <option value="PVR Priya">PVR Priya</option>
                              <option value="PVR Saket">PVR Saket</option>
                            </select>
                          </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Tickets Available</mat-label>
                            <input [(ngModel)]="movie.ticketsAvailable" name="ticketsAvailable" type="number" matInput placeholder="Enter here" required>
                        </mat-form-field>
                        <div class="container text-center">
                            <button mat-raised-button color = "primary" type="submit">Add</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>